$global-header-font-family: Gabarito, Helvetica, Arial, sans-serif;
$global-font-family: Lato, Helvetica, Arial, sans-serif;

$text-content-color: rgba(255, 255, 255, 0.5);
$light-hover-color: rgba(255, 255, 255, 0.15);

$header-color-1: #d038a0;
$header-color-2: #6c1f53;
$secondary-color-1: #1ed760;